{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load account %}
{% load socialaccount %}
{% block title %}Create a new account{% endblock %}

{% block extra_head %}
    <style type="text/css">
        html { visibility: hidden; }
        .help-block.right { float: none !important; }
        .select-wrapper input.select-dropdown, .select-wrapper span.caret {
          /* to make sure select input doesnt feel unsatisfying */
          color: #9e9e9e !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <br>
                <br>
                <div class="col m6 shadow-box hoverable" style="border-radius: 15px;">
                    <form action="{% url 'account_signup' %}" method="post" class="clearfix" style="margin: 25px;">
                        
                        <h5 class="login-hl center">Create a new account</h5>
                        {% crispy form %}
                        {% if redirect_field_value %}
                            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <br style="clear: both;" />
                        <hr style="clear: both;"/>
                        <div class="right" style="margin-bottom:5px ;">
                        Already have account? <a href='/accounts/password/reset/'>LogIn</a>
                    </div>
                    </form>
                    <br>
                </div>
                {% include 'account/_social_signup.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('html').attr('style','visibility: visible');
            // since materializecss requires initialization for select tags:
            $('select').material_select();
        });
    </script>
{% endblock %}
